<p style="color: green"><%= notice %></p>
<p>You don't have any chats yet. Create one by clicking </p>
<%= form_with(model: Chat.new) do |form| %>
  <%= form.submit 'Here', class: 'btn btn-dark border-light' %>
<% end %>
